body {
    font-family: 'Josefin Sans', sans-serif;
}

#your-bag-heading {
    color: #58595b;
    font-size: 2.5rem;
    font-weight: 300;
    width: 95%;
    margin: 1rem auto;
    border-bottom: 2px solid #58595b;
    padding-bottom: 1rem;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
}

#bag-items-wrapper {
    width: 65%;
    margin: 1rem auto;
    margin-bottom: 0;
    /* border: 1px solid red; */
    height: max-content;
    display: flex;
    flex-direction: column;
}

.bag-hover-item-wrapper {
    /* border: 2px solid #444; */
    display: flex;
    flex-direction: row;
    margin: 1rem;
    height: 15rem;
    /* border: 1px solid black; */
    background-color: white;
    justify-content: space-evenly;

}

.bag-hover-item-main-img {
    height: 100%;
    width: 25%;
}

.bag-hover-item-main-img img {
    height: 100%;
    width: 100%;
}

.bag-hover-item-details {
    height: 100%;
    width: 35%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
}

.bag-hover-qty-changer {
    height: 100%;
    width: 20%;
    /* border: 1px solid yellow; */
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
}

.bag-hover-price-viewer {
    height: 100%;
    width: 15%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bag-hover-remove-item {
    height: 100%;
    width: 5%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;

}

.bag-item-brand {
    font-size: 1.3rem;
    color: #666;
    margin: 0.3rem 0.6rem;
}

.bag-item-product {
    font-size: 1.7rem;
    color: #4d4d4d;
    margin: 0 0.6rem;
}

.bag-hover-minus,
.bag-hover-plus {
    font-size: 2rem;
    font-weight: bold;
    border: 0;
    width: 4rem;
    height: 4rem;
    border: 1px solid #ccc;
    border-radius: 100%;
    color: #ccc;
    cursor: pointer;
    background-color: white;
}

.bag-hover-minus:hover,
.bag-hover-plus:hover {
    border: 1px solid #84c225;
    color: white;
    background-color: #84c225;
}

.bag-hover-qty {
    font-size: 1.7rem;
    border: 0;
    /* width: 35%; */
    /* height: 40%; */
    color: #4d4d4d;
    margin: 0 1rem;
    background-color: white;
}

.bag-hover-sp {
    font-size: 1.8rem;
    /* font-weight: bold; */
}

.bag-hover-discount {
    color: #be1e2d;
    font-size: 1.4rem;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

}

/* .saving-rs{
color: #4d4d4d;
} */
.bag-hover-remove-btn {
    color: #4d4d4d;
    border: 0;
    background-color: white;
    font-size: 2.5rem;
    cursor: pointer;
}



.item-wrapper-head {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.first-part {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: #555;
    align-items: center;
    height: 100%;

}

.part-left {
    margin-left: 5rem;
}

.part-middle li {
    list-style: none;
    margin: 0px 4rem;
}

.part-middle ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.second-part {
    width: 10%;
}

.second-part {
    background-color: #c6cc74;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-checkout-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 2px solid #a2a2a2;
    padding-top: 2rem;
}

.empty-continue-wrapper,
.total-saving-checkout-wrapper {
    width: 49%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding: 10px; */
    margin: auto;
}

.total-saving-checkout-wrapper {
    border: 1px solid #a2a2a2;
    background: linear-gradient(180deg, #fff 60%, #f0f0f0 99%);
    box-shadow: 0.2rem 0.2rem 0.4rem #ccc;
    border-radius: 0.5rem;
}

.total-saving-wrapper {
    border-bottom: 1px solid #666;
    display: flex;
    height: 55%;
}

.total-wrapper {
    width: 75%;
}

.subtotal-delivery-wrapper {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    margin: auto;
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;
    color: #555;
    font-size: 1.5rem;
}

.total-amount-wrapper {
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid #666;
    width: 95%;
    margin: auto;
    font-size: 2.3rem;
    color: #444;
}

/* #total-amount{
margin-right: 10px;
} */
.saving-wrapper {
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: #e7685d;
    font-weight: bold;
}

.checkout-btn-wrapper {
    height: 43%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.saving-wrapper img {
    height: 5rem;
    width: 9rem;
}

#checkout {
    width: max-content;
    background: linear-gradient(180deg, #fee77c 0, #f2ca76 99%);
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.2rem 0.5rem #ccc;
    padding: 1.3rem 2.7rem;
    color: #555;
    font-size: 1.5rem;
    border: 0;
    font-weight: bold;
    cursor: pointer;
}

#checkout-btn-container {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: end;

}

.checkout-btn-wrapper span {
    margin: 1rem;
}

#empty-bag,
#continue-shopping {
    background: linear-gradient(180deg, #fff 35%, #ebedea 99%);
    border: 1px solid #70b961;
    border-radius: 0.5rem;
    display: inline-block;
    margin: 0 1rem 0 0.5rem;
    padding: 0.4rem 1.5rem;
    font-size: 1.5rem;
    width: max-content;
    color: #666;
    cursor: pointer;
    font-weight: bold;

}

#empty-bag {
    border: 1px solid #be1e2d;
}

.basket-icon {
    color: #666;
    font-size: 1.5rem;
}

.subtotal,
.delivery {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}